@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);


* {
	padding: 0;
	margin: 0;
}

body {
	text-align: center; 
	background-image: url(http://data.hdwallpapers.im/smoky_coffee.jpg);
	background-size:cover;
	color:#FFF;
	font-family: Arial, sans-serif;
}

h1 {
	font-family: "Oswald";
	font-size:250%;
}

h2 {
	font-size: 200%;
}

h3 {
	font-size: 100%;
}

}

a {
	text-decoration: none;
}

#slogan {
	font-family: "Playfair Display";
